{% extends 'base2.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container" style="text-align:center;">
    <form action="" method="POST" class="form-signin" style="
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;" novalidate="">
      {{ form.hidden_tag() }}
      <a href="#" style="background: gray;color: tan;font-size: 80px;-webkit-border-radius: 50%;position: inherit;display: inline-block;width: 140px;height: 120px;text-align: center;"><li style="line-height: 70px;
        font-size: 1em;
        width: 39px;
        height: 75px;
        border-radius: 50%;
        padding: 0;
        display: inline-block;
        margin-right: 70px;">HS</li></a>
        <h1 class="h3 mb-3 font-weight-normal" style="
        font-weight: 400!important;
        margin-top: 3rem!important;
        margin-bottom: 3rem!important;
        line-height: 1.2;
        margin-top: 0;
        font-size: 2.75rem;
        text-align: center!important;">Please sign in</h1>
    
    <label for="username" class="sr-only" style="
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;">Username</label><br>
    <input id="username" name="username" required="" size="32" type="text" value="" class="form-control" placeholder="Username">
    <label for="password" style="
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;">Password</label><br>
             
  <input id="password" name="password" required="" size="32" type="password" value="" class="form-control" placeholder="Password">
    
  <div class="checkbox mb-3" style="font-weight: 400;
    margin-bottom: 1rem!important;">
    
  <label for="remember_me"><input id="remember_me" name="remember_me" type="checkbox" value="y">Remember Me</label>
  

</div>

    
 
  <button class="btn btn-lg btn-primary btn-block" type="submit" style="
    display: block;
    width: 100%;
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 2.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;"><input id="submit" name="submit" type="submit" value="Sign In" style="
    background-color: #007bff;
    border: white;"></button><br>
    <p>New User? <a href="/auth/register">Click to Register!</a></p>
    <p>
        Forgot Your Password?
        <a href="/auth/reset_password_request">Click to Reset It</a>
    </p>
  <p class="mt-5 mb-3 text-muted" style=" color: #6c757d!important;
    margin-top: 3rem!important;">© 2017-2020</p>
</form>
    
    
</div>

{% endblock %}