<html>

<head>
    <title>HomeShop Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="Emporium registration Form Bootstrap Responsive Templates, Iphone Compatible Templates, Smartphone Compatible Templates, Ipad Compatible Templates, Flat Responsive Templates">
    <link href="/static/register/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/register/css/style.css" rel="stylesheet" type="text/css">
    <!--webfonts-->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!--//webfonts-->

</head>

<body>
    <script>

        function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
            console.log('statusChangeCallback');
            console.log(response);                   // The current login status of the person.
            if (response.status === 'connected') {
                document.getElementById('status').innerHTML = 'connected'
                var obj = {
                    uid: response.authResponse.userID,
                    accessToken: response.authResponse.accessToken
                };
                var data_obj = JSON.stringify(obj);
                $.ajax({
                    url: "/auth/fb_login",
                    type: "POST",
                    data: data_obj,
                    dataType: 'json',
                    async: false,
                    contentType: "application/json",
                    success: function (data, textStatus, jqXHR) {
                        if (data == "11") {
                            location.replace("/");
                        }
                    }

                });
                FB.api('/me', function (response) {
                    console.log('Successful loggin:' + response.name);
                    document.getElementById('status').innerHTML = 'Thanks for loggin in:' + response.name + '!'
                });
            } else {                                 // Not logged into your webpage or we are unable to tell.
                document.getElementById('status').innerHTML = 'Please log ' + 'into this webpage.';

            }
        }


        window.fbAsyncInit = function () {
            FB.init({
                appId: '{{appId}}',
                cookie: true,
                xfbml: true,
                version: 'v8.0'
            });

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

            FB.AppEvents.logPageView();

        };

        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        };


        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId={{appId}}&autoLogAppEvents=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="fb-root"></div>
    <div id="status">
    </div>
    </script>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId={{appId}}&autoLogAppEvents=1"
        nonce="OHP6gnXN"></script>

    <div class="container" style="
        background: transparent;
        height: 79px;
        text-align: center;
    ">
        <a href="{{url_for('main.index')}}"
            style="background: gray;color: tan;font-size: 80px;-webkit-border-radius: 50%;position: inherit;display: inline-block;width: 140px;height: 120px;text-align: center;">
            <li style="line-height: 105px;
     font-size: 1em;
     width: 39px;
     height: 75px;
     border-radius: 50%;
     padding: 0;
     display: inline-block;
     margin-right: 66px;">HS</li>
        </a></div>
    <div class="w3l_frm">
        <div class="container">
            <h2 style="color: tan;">HomeShop Register Form</h2>
            <div class="header-social wthree">

                <ul style="text-align: center;">

                    <li>
                        <!-- /* #3175FF */ -->
                        <div class="header-social wthree" style="
                                background-color:#008AD0;
                                height: 58px;">
                            <div class="fb-login-button" scope="public_profile,email" onlogin="checkLoginState();"
                                data-size="large" data-button-type="continue_with" data-layout="default"
                                data-auto-logout-link="false" data-use-continue-as="false" data-width="">

                            </div>
                        </div>

                    </li>


                </ul>
                <div class="line-mid">
                    <h4>or</h4>
                </div>
            </div>
            <div class="header-social wthree">
                <ul>
                    <li>
                        <a href="#popup1" class="m"> <span class="fa fa-envelope-o" aria-hidden="true"></span>Register
                            With Email</a>
                    </li>
                </ul>

                <div id="popup1" class="overlay">
                    <div class="popup">
                        <form action="{{url_for('auth.register')}}" method="post" class="form" role="form">
                            {{ form.hidden_tag() }}

                            <div class="form-group  required"><label class="control-label"
                                    for="username">Username</label>

                                <input class="form-control" id="username" name="username" required="" type="text"
                                    value="">

                            </div>


                            <div class="form-group  required"><label class="control-label" for="email">Email</label>

                                <input class="form-control" id="email" name="email" required="" type="text" value="">

                            </div>

                            <div class="form-group  required"><label class="control-label"
                                    for="password">Password</label>

                                <input class="form-control" id="password" name="password" required="" type="password"
                                    value="">

                            </div>

                            <div class="form-group  required"><label class="control-label" for="password2">Repeat
                                    Password</label>

                                <input class="form-control" id="password2" name="password2" required="" type="password"
                                    value="">

                            </div>

                            <input class="btn btn-default" id="submit" name="submit" type="submit" value="Register">

                        </form>
                        <a class="close" href="#">×</a>

                    </div>
                </div>

            </div>
            <h3>By Signing I agree to the <a href="{{url_for('main.terms')}}">Terms and Conditions</a></h3>

            <div class="w3_acc">
                <ul>
                    <li>
                        <h4>Already had an Account?</h4>
                    </li>
                    <br><br>
                    <li>
                        <div class="w3ls_su">
                            <a href="{{url_for('auth.login')}}">Sign In</a>
                        </div>
                    </li>
                </ul>

            </div>


        </div>
    </div>

    <div class="copyright">


    </div>



</body>

</html>