{% extends 'bootstrap/base.html' %}    

{% block title %}
    {% if title %}{{ title }} - HomeShop{% else %}Welcome to HomeShop{% endif %}
{% endblock %}
{% block body %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}
{% block app_content %}{% endblock %}
{# application content needs to be provided in the app_content block #}

{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
<br><br>

{% include 'footer.html' %}

{% endblock %}
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
</script>
