{% extends 'bootstrap/base.html' %}    

{% block title %}
    {% if title %}{{ title }} - HomeShop{% else %}Welcome to HomeShop{% endif %}
{% endblock %}
{% block body %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}

{% block app_content %}{% endblock %}
{# application content needs to be provided in the app_content block #}

{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
<br><br>
{% include 'footer.html' %}
<footer class="navLeftFooter nav-sprite-v1" id="navFooter" style="
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #232F3E;
    min-width: 1000px;
    position: relative;
"><a href="#" id="navBackToTop" style="font-family: inherit;color: #004B91;text-decoration: none;white-space: normal;"><div class="navFooterBackToTop" style="
    margin-bottom: 40px;
    background-color: #37475A;
    box-sizing: border-box;
"><span class="navFooterBackToTopText" style="
    color: #FFF;
    display: block;
    text-align: center;
    padding: 15px 0;
    line-height: 19px;
    font-size: 13px;
    font-family: inherit;
    white-space: normal;
">Back to top</span></div></a>
    
    
  </footer>

{% endblock %}
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
</script>
