{% extends "base2.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<br>
<div class="container" style="text-align: center;">
    <a href="#" style="background: gray;color: tan;font-size: 80px;-webkit-border-radius: 50%;position: inherit;display: inline-block;width: 140px;height: 120px;text-align: center;"><li style="line-height: 70px;
        font-size: 1em;
        width: 39px;
        height: 75px;
        border-radius: 50%;
        padding: 0;
        display: inline-block;
        margin-right: 70px;">HS</li></a>
  
    <h1> Edit Profile </h1>
    <div class="container" style="width: 100%;"><div class="row" style="
        text-align: left;
        width: 100%;
    ">
            <div class="col-md-4" style="
        width: 100%;
    ">
    <div class="container" style="
    width: 100%;
    float: left;">
    <div class="form-group ">
        <h4>Profile Image</h4>
        <img src="/static/images/profileImages/{{ user.image }}" style="width: 160px">
        <!-- <img src="/static/images/profileImages/{{user.id}}" alt="" style="width: 150px;"> -->
        
        <!-- <img src="{{ user.avatar(256) }}" alt="" > -->
                          
       
        <p>Uploade Profile Image</p>
        <form method="POST" action="{{ url_for('main.upload_images') }}" enctype="multipart/form-data">
          <p><input id="file" type="file" name="file"></p>
          <p><input type="submit" value="Submit"></p>
        </form>
    </div>  </div>    
    <form action="" method="post" class="form" role="form">
    {{ form.hidden_tag() }}    
    <div class="container" style="
        width: 100%;
        float: left;">
        
        
        <div class="form-group  required">
            <label class="control-label" for="username">Username</label>
            <input class="form-control" id="username" name="username" required="" type="text" value="{{form.username.data}}">
            
      </div>
        <div class="form-group ">
            <label class="control-label" for="about_me">About me</label>
            <textarea class="form-control" id="about_me" name="about_me">{{form.about_me.data}}</textarea>
            
      </div>
     </div>
    
    <div class="container" style="
        width: 50%;
        float: right;"></div>
    
    
        <input class="btn btn-default" id="submit" name="submit" type="submit" value="Submit" style="
        margin-left: 15px;">
        <button class="btn btn-default"><a href="{{url_for('main.user', username=current_user.username)}}">Cancel</a></button>
    </form>
            </div>
        </div></div>
</div>
{% endblock %}